.table11_3 table {
	width:100%;
	margin:auto;
	height:100vh;
	border:0;
}
.table11_3 th {
	background-color:#86A5FF;
	color:#FFFFFF
}
.table11_3,.table11_3 th,.table11_3 td {
	font-size:0.95em;
	text-align:center;
	padding:4px;
	border-collapse:collapse;
}
.table11_3 th,.table11_3 td {
	border: 1px solid #5d87fe;
	border-width:1px 0 1px 0;
	border:2px inset #ffffff;
}
.table11_3 tr {
	border: 1px solid #ffffff;
}

.d1 td,.d3 td ,.d5 td{
    background-color :#FFE4E1;
    width : 10%;
}

.d2 td ,.d4 td,.d6 td{
    background-color :#FFEFD5;
    width : 10%;
}



